In [49]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
car = pd.read_csv('quikr_car.csv')

In [4]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [5]:
car.shape

(892, 6)

In [6]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [7]:
car['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [8]:
car['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [9]:
car['kms_driven'].unique()

array(['45,000 kms', '40 kms', '22,000 kms', '28,000 kms', '36,000 kms',
       '59,000 kms', '41,000 kms', '25,000 kms', '24,530 kms',
       '60,000 kms', '30,000 kms', '32,000 kms', '48,660 kms',
       '4,000 kms', '16,934 kms', '43,000 kms', '35,550 kms',
       '39,522 kms', '39,000 kms', '55,000 kms', '72,000 kms',
       '15,975 kms', '70,000 kms', '23,452 kms', '35,522 kms',
       '48,508 kms', '15,487 kms', '82,000 kms', '20,000 kms',
       '68,000 kms', '38,000 kms', '27,000 kms', '33,000 kms',
       '46,000 kms', '16,000 kms', '47,000 kms', '35,000 kms',
       '30,874 kms', '15,000 kms', '29,685 kms', '1,30,000 kms',
       '19,000 kms', nan, '54,000 kms', '13,000 kms', '38,200 kms',
       '50,000 kms', '13,500 kms', '3,600 kms', '45,863 kms',
       '60,500 kms', '12,500 kms', '18,000 kms', '13,349 kms',
       '29,000 kms', '44,000 kms', '42,000 kms', '14,000 kms',
       '49,000 kms', '36,200 kms', '51,000 kms', '1,04,000 kms',
       '33,333 kms', '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms',
       '24,330 kms', '65,480 kms', '28,028 kms', '2,00,000 kms',
       '99,000 kms', '2,800 kms', '21,000 kms', '11,000 kms',
       '66,000 kms', '3,000 kms', '7,000 kms', '38,500 kms', '37,200 kms',
       '43,200 kms', '24,800 kms', '45,872 kms', '40,000 kms',
       '11,400 kms', '97,200 kms', '52,000 kms', '31,000 kms',
       '1,75,430 kms', '37,000 kms', '65,000 kms', '3,350 kms',
       '75,000 kms', '62,000 kms', '73,000 kms', '2,200 kms',
       '54,870 kms', '34,580 kms', '97,000 kms', '60 kms', '80,200 kms',
       '3,200 kms', '0,000 kms', '5,000 kms', '588 kms', '71,200 kms',
       '1,75,400 kms', '9,300 kms', '56,758 kms', '10,000 kms',
       '56,450 kms', '56,000 kms', '32,700 kms', '9,000 kms', '73 kms',
       '1,60,000 kms', '84,000 kms', '58,559 kms', '57,000 kms',
       '1,70,000 kms', '80,000 kms', '6,821 kms', '23,000 kms',
       '34,000 kms', '1,800 kms', '4,00,000 kms', '48,000 kms',
       '90,000 kms', '12,000 kms', '69,900 kms', '1,66,000 kms',
       '122 kms', '0 kms', '24,000 kms', '36,469 kms', '7,800 kms',
       '24,695 kms', '15,141 kms', '59,910 kms', '1,00,000 kms',
       '4,500 kms', '1,29,000 kms', '300 kms', '1,31,000 kms',
       '1,11,111 kms', '59,466 kms', '25,500 kms', '44,005 kms',
       '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '1,80,000 kms', '53,000 kms', '35,500 kms',
       '22,134 kms', '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms',
       '15,574 kms', '8,000 kms', '55,800 kms', '56,400 kms',
       '72,160 kms', '11,500 kms', '1,33,000 kms', '2,000 kms',
       '88,000 kms', '65,422 kms', '1,17,000 kms', '1,50,000 kms',
       '10,750 kms', '6,800 kms', '5 kms', '9,800 kms', '57,923 kms',
       '30,201 kms', '6,200 kms', '37,518 kms', '24,652 kms', '383 kms',
       '95,000 kms', '3,528 kms', '52,500 kms', '47,900 kms',
       '52,800 kms', '1,95,000 kms', '48,008 kms', '48,247 kms',
       '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms', '49,500 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '38,900 kms',
       '1,37,495 kms', '91,200 kms', '1,46,000 kms', '1,00,800 kms',
       '2,100 kms', '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

Quality
- names are pretty inconsistent
- names have company names attached to it
- some names are spam like 'Maruti Ertiga showroom condition with' and 'Well mentained Tata Sumo'
- company: many of the names are not of any company like 'Used', 'URJENT', and so on.
- year has many non-year values
- year is in object. Change to integer
- Price has Ask for Price
- Price has commas in its prices and is in object
- kms_driven has object values with kms at last.
- It has nan values and two rows have 'Petrol' in them
- fuel_type has nan values

# Cleaning

In [10]:
car = car[car['year'].str.isnumeric()]

In [11]:
car['year'] = car['year'].astype(int)

In [12]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [13]:
car = car[car['Price'] != "Ask For Price"]

In [14]:
car['Price']

0        80,000
1      4,25,000
3      3,25,000
4      5,75,000
6      1,75,000
         ...
886    3,00,000
888    2,60,000
889    3,90,000
890    1,80,000
891    1,60,000
Name: Price, Length: 819, dtype: object

In [15]:
 car['Price'] = car['Price'].str.replace(',', '').astype(int)

In [16]:
car['kms_driven']

0        45,000 kms
1            40 kms
3        28,000 kms
4        36,000 kms
6        41,000 kms
           ...
886    1,32,000 kms
888      27,000 kms
889      40,000 kms
890          Petrol
891          Petrol
Name: kms_driven, Length: 819, dtype: object

In [17]:
car['kms_driven'] = car['kms_driven'].str.split(' ').str.get(0).str.replace(',', '')

In [18]:
car = car[car['kms_driven'].str.isnumeric()]

In [19]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.3+ KB

In [20]:
car['kms_driven'] = car['kms_driven'].astype(int)

In [21]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [22]:
car = car[~car['fuel_type'].isna()]

In [23]:
car['name'] = car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [24]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [25]:
car = car.reset_index(drop = True)

In [26]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [27]:
car.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [28]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 28.8+ KB

In [29]:
car[car['Price'] > 6e6]

                   name   company  year    Price  kms_driven fuel_type
534  Mahindra XUV500 W6  Mahindra  2014  8500003       45000    Diesel

In [30]:
car = car[car['Price'] < 6e6].reset_index(drop = True)

In [31]:
car.to_csv('Cleaned Car.csv')

# Model

In [32]:
X = car.drop(columns = 'Price')

In [33]:
y = car['Price']

In [34]:
X

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
811          Tata Indica V2      Tata  2009       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009      132000    Petrol
813            Tata Zest XM      Tata  2018       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [35]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
810    270000
811    110000
812    300000
813    260000
814    390000
Name: Price, Length: 815, dtype: int32

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [37]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [38]:
ohe = OneHotEncoder()
ohe.fit(X[['name', 'company', 'fuel_type']])

OneHotEncoder()

In [39]:
ohe.categories_

[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
        'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
        'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
        'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
        'Chevrolet Beat LS', 'Chevrolet Beat LT', 'Chevrolet Beat PS',
        'Chevrolet Cruze LTZ', 'Chevrolet Enjoy', 'Chevrolet Enjoy 1.4',
        'Chevrolet Sail 1.2', 'Chevrolet Sail UVA', 'Chevrolet Spark',
        'Chevrolet Spark 1.0', 'Chevrolet Spark LS', 'Chevrolet Spark LT',
        'Chevrolet Tavera LS', 'Chevrolet Tavera Neo', 'Datsun GO T',
        'Datsun Go Plus', 'Datsun Redi GO', 'Fiat Linea Emotion',
        'Fiat Petra ELX', 'Fiat Punto Emotion', 'Force Motors Force',
        'Force Motors One', 'Ford EcoSport', 'Ford EcoSport Ambiente',
        'Ford EcoSport Titanium', 'Ford EcoSport Trend',
        'Ford Endeavor 4x4', 'Ford Fiesta', 'Ford Fiesta SXi', 'Ford Figo',
        'Ford Figo Diesel', 'Ford Figo Duratorq', 'Ford Figo Petrol',
        'Ford Fusion 1.4', 'Ford Ikon 1.3', 'Ford Ikon 1.6',
        'Hindustan Motors Ambassador', 'Honda Accord', 'Honda Amaze',
        'Honda Amaze 1.2', 'Honda Amaze 1.5', 'Honda Brio', 'Honda Brio V',
        'Honda Brio VX', 'Honda City', 'Honda City 1.5', 'Honda City SV',
        'Honda City VX', 'Honda City ZX', 'Honda Jazz S', 'Honda Jazz VX',
        'Honda Mobilio', 'Honda Mobilio S', 'Honda WR V', 'Hyundai Accent',
        'Hyundai Accent Executive', 'Hyundai Accent GLE',
        'Hyundai Accent GLX', 'Hyundai Creta', 'Hyundai Creta 1.6',
        'Hyundai Elantra 1.8', 'Hyundai Elantra SX', 'Hyundai Elite i20',
        'Hyundai Eon', 'Hyundai Eon D', 'Hyundai Eon Era',
        'Hyundai Eon Magna', 'Hyundai Eon Sportz', 'Hyundai Fluidic Verna',
        'Hyundai Getz', 'Hyundai Getz GLE', 'Hyundai Getz Prime',
        'Hyundai Grand i10', 'Hyundai Santro', 'Hyundai Santro AE',
        'Hyundai Santro Xing', 'Hyundai Sonata Transform', 'Hyundai Verna',
        'Hyundai Verna 1.4', 'Hyundai Verna 1.6', 'Hyundai Verna Fluidic',
        'Hyundai Verna Transform', 'Hyundai Verna VGT',
        'Hyundai Xcent Base', 'Hyundai Xcent SX', 'Hyundai i10',
        'Hyundai i10 Era', 'Hyundai i10 Magna', 'Hyundai i10 Sportz',
        'Hyundai i20', 'Hyundai i20 Active', 'Hyundai i20 Asta',
        'Hyundai i20 Magna', 'Hyundai i20 Select', 'Hyundai i20 Sportz',
        'Jaguar XE XE', 'Jaguar XF 2.2', 'Jeep Wrangler Unlimited',
        'Land Rover Freelander', 'Mahindra Bolero DI',
        'Mahindra Bolero Power', 'Mahindra Bolero SLE',
        'Mahindra Jeep CL550', 'Mahindra Jeep MM', 'Mahindra KUV100',
        'Mahindra KUV100 K8', 'Mahindra Logan', 'Mahindra Logan Diesel',
        'Mahindra Quanto C4', 'Mahindra Quanto C8', 'Mahindra Scorpio',
        'Mahindra Scorpio 2.6', 'Mahindra Scorpio LX',
        'Mahindra Scorpio S10', 'Mahindra Scorpio S4',
        'Mahindra Scorpio SLE', 'Mahindra Scorpio SLX',
        'Mahindra Scorpio VLX', 'Mahindra Scorpio Vlx',
        'Mahindra Scorpio W', 'Mahindra TUV300 T4', 'Mahindra TUV300 T8',
        'Mahindra Thar CRDe', 'Mahindra XUV500', 'Mahindra XUV500 W10',
        'Mahindra XUV500 W6', 'Mahindra XUV500 W8', 'Mahindra Xylo D2',
        'Mahindra Xylo E4', 'Mahindra Xylo E8', 'Maruti Suzuki 800',
        'Maruti Suzuki A', 'Maruti Suzuki Alto', 'Maruti Suzuki Baleno',
        'Maruti Suzuki Celerio', 'Maruti Suzuki Ciaz',
        'Maruti Suzuki Dzire', 'Maruti Suzuki Eeco',
        'Maruti Suzuki Ertiga', 'Maruti Suzuki Esteem',
        'Maruti Suzuki Estilo', 'Maruti Suzuki Maruti',
        'Maruti Suzuki Omni', 'Maruti Suzuki Ritz', 'Maruti Suzuki S',
        'Maruti Suzuki SX4', 'Maruti Suzuki Stingray',
        'Maruti Suzuki Swift', 'Maruti Suzuki Versa',
        'Maruti Suzuki Vitara', 'Maruti Suzuki Wagon', 'Maruti Suzuki Zen',
        'Mercedes Benz A', 'Mercedes Benz B', 'Mercedes Benz C',
        'Mercedes Benz GLA', 'Mini Cooper S', 'Mitsubishi Lancer 1.8',
        'Mitsubishi Pajero Sport', 'Nissan Micra XL', 'Nissan Micra XV',
        'Nissan Sunny', 'Nissan Sunny XL', 'Nissan Terrano XL',
        'Nissan X Trail', 'Renault Duster', 'Renault Duster 110',
        'Renault Duster 110PS', 'Renault Duster 85', 'Renault Duster 85PS',
        'Renault Duster RxL', 'Renault Kwid', 'Renault Kwid 1.0',
        'Renault Kwid RXT', 'Renault Lodgy 85', 'Renault Scala RxL',
        'Skoda Fabia', 'Skoda Fabia 1.2L', 'Skoda Fabia Classic',
        'Skoda Laura', 'Skoda Octavia Classic', 'Skoda Rapid Elegance',
        'Skoda Superb 1.8', 'Skoda Yeti Ambition', 'Tata Aria Pleasure',
        'Tata Bolt XM', 'Tata Indica', 'Tata Indica V2', 'Tata Indica eV2',
        'Tata Indigo CS', 'Tata Indigo LS', 'Tata Indigo LX',
        'Tata Indigo Marina', 'Tata Indigo eCS', 'Tata Manza',
        'Tata Manza Aqua', 'Tata Manza Aura', 'Tata Manza ELAN',
        'Tata Nano', 'Tata Nano Cx', 'Tata Nano GenX', 'Tata Nano LX',
        'Tata Nano Lx', 'Tata Sumo Gold', 'Tata Sumo Grande',
        'Tata Sumo Victa', 'Tata Tiago Revotorq', 'Tata Tiago Revotron',
        'Tata Tigor Revotron', 'Tata Venture EX', 'Tata Vista Quadrajet',
        'Tata Zest Quadrajet', 'Tata Zest XE', 'Tata Zest XM',
        'Toyota Corolla', 'Toyota Corolla Altis', 'Toyota Corolla H2',
        'Toyota Etios', 'Toyota Etios G', 'Toyota Etios GD',
        'Toyota Etios Liva', 'Toyota Fortuner', 'Toyota Fortuner 3.0',
        'Toyota Innova 2.0', 'Toyota Innova 2.5', 'Toyota Qualis',
        'Volkswagen Jetta Comfortline', 'Volkswagen Jetta Highline',
        'Volkswagen Passat Diesel', 'Volkswagen Polo',
        'Volkswagen Polo Comfortline', 'Volkswagen Polo Highline',
        'Volkswagen Polo Highline1.2L', 'Volkswagen Polo Trendline',
        'Volkswagen Vento Comfortline', 'Volkswagen Vento Highline',
        'Volkswagen Vento Konekt', 'Volvo S80 Summum'], dtype=object),
 array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
        'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
        'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
        'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
       dtype=object),
 array(['Diesel', 'LPG', 'Petrol'], dtype=object)]

In [40]:
column_trans = make_column_transformer((OneHotEncoder(categories = ohe.categories_), ['name', 'company', 'fuel_type']),
                                      remainder = 'passthrough')

In [41]:
lr = LinearRegression()

In [42]:
pipe = make_pipeline(column_trans, lr)

In [43]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [44]:
y_pred = pipe.predict(X_test)

In [45]:
r2_score(y_test, y_pred)

0.6836620973848606

In [47]:
for i in range(1000):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)
    lr = LinearRegression()
    pipe = make_pipeline(column_trans, lr)
    pipe.fit(X_train, y_train)
    y_pred = pipe.predict(X_test)
    print(r2_score(y_test, y_pred), i)

0.6958295360932547 0
0.5947629676982462 1
0.6816964057523904 2
0.7857603707501483 3
0.7870485692699456 4
0.8256998362096897 5
0.7337442888893411 6
0.5999551506099483 7
0.628195939444384 8
0.6752843002114537 9
0.8689159540959583 10
0.4272662076329091 11
0.7021227079799941 12
0.814406085226501 13
0.7064178502094193 14
0.8111022005112769 15
0.7223444306269309 16
0.7842483348977879 17
0.6063551150455997 18
0.7800794038257997 19
0.5585262019529995 20
0.6622089624776267 21
0.6113510654348953 22
0.5724318961037476 23
0.5404393436516661 24
0.5889708629423478 25
0.7344897085213793 26
0.7975120359246572 27
0.593176108842145 28
0.8460926553892345 29
0.6093474120367748 30
0.6517108470517923 31
0.8170293986741228 32
0.7354518514130999 33
0.7114770891572489 34
0.7702617932677998 35
0.6352624726583549 36
0.7172204703053798 37
0.6861376871969884 38
0.6586155709346715 39
0.8228815496252289 40
0.7552977274884755 41
0.7198113167517628 42
0.6884857798876551 43
0.6430477313839849 44
0.7743749094227631 45
0.7895175106759035 46
0.7240171147969716 47
0.6166529247979459 48
0.8059991927995611 49
0.8514827433145689 50
0.7331169531256125 51
0.7782225918763277 52
0.7322350740688652 53
0.6512075053364401 54
0.8523058244899893 55
0.7229122360983404 56
0.6988333973342513 57
0.683995485251 58
0.6032917400180231 59
0.8187771630080017 60
0.8331796788696935 61
0.6391952104045753 62
0.6714571811050187 63
0.6109809304814257 64
0.7199337399056018 65
0.8190383296011597 66
0.7810939010285425 67
0.6690297641704862 68
0.5686886895791339 69
0.797041198505337 70
0.7532530008932183 71
0.714822298285245 72
0.577522990767334 73
0.7962356994694468 74
0.7787211270271891 75
0.7997327058978386 76
0.6079108381575871 77
0.8057924070255564 78
0.7757051688162506 79
0.644249677378349 80
0.6516790144569957 81
0.7206956244755004 82
0.6658642549759053 83
0.7554539882653156 84
0.5543565383819862 85
0.6496034568271222 86
0.8346482267085413 87
0.645306194529085 88
0.6315180308019008 89
0.8067393299729284 90
0.604965167105733 91
0.6960602485188957 92
0.6614616964660518 93
0.6150456362375307 94
0.7645303261929479 95
0.7289304617873706 96
0.743728411723409 97
0.5652209661406123 98
0.5628085582089002 99
0.6796139697737521 100
0.7324804806212986 101
0.8100266285480864 102
0.7645876410607702 103
0.7071133438299573 104
0.8268780835331037 105
0.5034037379854881 106
0.7088629589440854 107
0.668767838997139 108
0.48515282141640514 109
0.7030132824250013 110
0.814869107963014 111
0.8077428681760337 112
0.5027080128777799 113
0.8287126488553285 114
0.6688666408034478 115
0.6177563071301693 116
0.8242455100027952 117
0.5271978298610324 118
0.6663907411825823 119
0.7243401556485136 120
0.7232973770650062 121
0.8257050878213419 122
0.40147954698497834 123
0.7094797883692892 124
0.7209707854407745 125
0.6204282853687844 126
0.742012961822422 127
0.7372524952009992 128
0.6240551258278341 129
0.7586078913833086 130
0.8176225288168358 131
0.7967050264569142 132
0.5907678496282713 133
0.6765165275363735 134
0.6563079374703886 135
0.5366235304024598 136
0.6817632402884035 137
0.7116205699012327 138
0.5710217886506024 139
0.7370654857292933 140
0.6876008303506307 141
0.7463999988734549 142
0.683718860139668 143
0.6285514435662196 144
0.7354092349910409 145
0.721356219403783 146
0.5942105611613323 147
0.6611050194228838 148
0.6917772304849561 149
0.753215597459723 150
0.7692381107689796 151
0.8014006701128981 152
0.653035380842669 153
0.7280981066479055 154
0.5803730966088381 155
0.6045387004647738 156
0.7930415126636524 157
0.8005617446100475 158
0.7328919911695926 159
0.7606903654065256 160
0.591685499633625 161
0.7287581468812849 162
0.6319347243388833 163
0.7846040464504475 164
0.5915467344334004 165
0.7995751491275254 166
0.7073298917822364 167
0.6434038667646138 168
0.6310770484663497 169
0.7182754645077869 170
0.5884505442691017 171
0.7298349449071326 172
0.6829852165581975 173
0.731579896943044 174
0.6200142281745202 175
0.7749762649772722 176
0.7294606251640322 177
0.6874109471062961 178
0.8308333237037243 179
0.7075146523876124 180
0.5824820764639862 181
0.6914906744603874 182
0.7699562357110821 183
0.7544215782332894 184
0.8029481306346166 185
0.7599937040450632 186
0.7381536591412186 187
0.6038042427722444 188
0.6399538140687488 189
0.7382771779658389 190
0.580685130338009 191
0.7999497326267739 192
0.7203505718648017 193
0.737537429351075 194
0.7855414553084306 195
0.7495449947417658 196
0.6169637626370399 197
0.8060203498440246 198
0.6968332656341159 199
0.52986192026298 200
0.6408239389501292 201
0.6144514255475023 202
0.7387636836050055 203
0.7553531113687522 204
0.7241249973073633 205
0.5937962779353678 206
0.5916228733803697 207
0.6554700243604481 208
0.8358837630715266 209
0.6861485667692822 210
0.7807975362319428 211
0.6557630171162446 212
0.760783518920802 213
0.7086575906480261 214
0.6758255149508394 215
0.5653260038665755 216
0.6969672776419396 217
0.6143481123761272 218
0.40281198148515684 219
0.8180273986170921 220
0.7746399852173158 221
0.7321273535321958 222
0.612795544409072 223
0.7205936251170639 224
0.831216423188857 225
0.7592014235031884 226
0.7104543615684158 227
0.8751682073093114 228
0.8026643563592452 229
0.8277379278903088 230
0.7491507814641378 231
0.7451616427469852 232
0.6578197999440535 233
0.6517843234087577 234
0.7664189685237917 235
0.8057808364193346 236
0.6532444571045338 237
0.6374185400559753 238
0.7454974525786774 239
0.7650510603296609 240
0.6331900574795886 241
0.5691143826889868 242
0.633043223117755 243
0.5707210572043611 244
0.7784708723240759 245
0.7128601746594364 246
0.7525213122185387 247
0.6966806148314924 248
0.6802949558445821 249
0.8390879916548446 250
0.7707029284878579 251
0.7103895634285632 252
0.6094834339463866 253
0.7752126582566544 254
0.6562939758446673 255
0.7782410708007317 256
0.6732989147813403 257
0.7221484028927693 258
0.7892424776594096 259
0.6240989939956691 260
0.710715297785876 261
0.742303153961518 262
0.6319363117831687 263
0.8178255425439 264
0.7107557814034148 265
0.7451983606252677 266
0.6964660959342865 267
0.775472055637529 268
0.6365396315179047 269
0.7075920821172544 270
0.7834327328577496 271
0.511483823542447 272
0.6433611754792065 273
0.4855465223009219 274
0.5592158633710156 275
0.4415831906983644 276
0.7240646415211739 277
0.6298109421080408 278
0.6713724403451589 279
0.6188528719425219 280
0.7221630960293719 281
0.5179404986099916 282
0.7270187249586646 283
0.5721749737744447 284
0.7022725083976682 285
0.5170496335101513 286
0.7510397309203258 287
0.6740149155827955 288
0.7445662568050304 289
0.7556146061218425 290
0.7710058227242956 291
0.6048886766759396 292
0.5477547306452887 293
0.6753638105927176 294
0.7298223576283182 295
0.8319812098661675 296
0.7785523886290926 297
0.7810109446061353 298
0.8124621958085775 299
0.7102584257677058 300
0.5618035665013876 301
0.7505190197095946 302
0.7527145864642938 303
0.817620907966375 304
0.579007085371574 305
0.6498275054781488 306
0.5126302319725196 307
0.8595251235809328 308
0.8573135872112969 309
0.7507613509193615 310
0.6481107215944639 311
0.6753387122022421 312
0.7794326507737748 313
0.7762855649507848 314
0.5611971836482854 315
0.6071491097278098 316
0.8377959782915616 317
0.5970658490030338 318
0.6726359556946075 319
0.7046219443099986 320
0.747101271623783 321
0.7853697321463285 322
0.8484551416569037 323
0.7975402371772746 324
0.5350332344112527 325
0.4825145787386821 326
0.7761037422934266 327
0.8099806606067019 328
0.7838712416902681 329
0.6837751534750611 330
0.6639840831131699 331
0.6962301543206699 332
0.43242332065977185 333
0.5945387425563915 334
0.5169221382863517 335
0.7463466022480825 336
0.6818559980984691 337
0.677983433126778 338
0.6488492722886532 339
0.6896345483890172 340
0.7623798441341714 341
0.7357152030735932 342
0.6944729325443645 343
0.7390390082813723 344
0.7178930535489311 345
0.7287693557581687 346
0.7121931642629153 347
0.7405652109426788 348
0.7905387775105592 349
0.6607990917766622 350
0.8251577525484501 351
0.6547246217286928 352
0.6248305220156332 353
0.5477882698129628 354
0.5186096376070057 355
0.714933610743492 356
0.7718874885574655 357
0.6371307841618763 358
0.7830297270119938 359
0.7342137379082294 360
0.7982490205780735 361
0.7335817414574581 362
0.6086566701738597 363

0.7149164403731232 364
0.7661984019809123 365
0.676601832517054 366
0.6793591958664393 367
0.814926269515734 368
0.7523799171420061 369
0.6494963069998674 370
0.5917391504808382 371
0.6274287122064489 372
0.6472977793572988 373
0.7227541683099228 374
0.7319465929505795 375
0.4035759803145309 376
0.6706878726568122 377
0.6898527687748008 378
0.7257468601639789 379
0.7298017062153328 380
0.5435155117593522 381
0.702603121298408 382
0.6532198623603154 383
0.8307190348974811 384
0.8008074163174209 385
0.8384441322610844 386
0.7356020042196 387
0.7376963333577874 388
0.5497210826926265 389
0.5770336300657326 390
0.43567331174621915 391
0.7846802641292328 392
0.4556478576006332 393
0.7784276283335464 394
0.7761957932751047 395
0.77902589518724 396
0.6397331869466485 397
0.8049098229846192 398
0.7316670329761157 399
0.6429954617433989 400
0.7645786321490484 401
0.679914942547917 402
0.6654617263119768 403
0.8219819745985527 404
0.5754412324109663 405
0.7984290201440328 406
0.42366667777406763 407
0.5237219441582053 408
0.7027515016238405 409
0.7432806785981474 410
0.5687259764032699 411
0.5547626324431463 412
0.6360437467091156 413
0.7701809158768399 414
0.7670205669937369 415
0.6007261362466577 416
0.806219017195968 417
0.6221359301946218 418
0.7506370472286794 419
0.4889043038366685 420
0.6883261198966404 421
0.6401380974239228 422
0.629000807044725 423
0.7321385320978249 424
0.8331769900170347 425
0.7972903879404774 426
0.7605514025386152 427
0.5722574520320589 428
0.7578466324828155 429
0.5743725200770635 430
0.7145351450436919 431
0.5340070154137436 432
0.7367321848738648 433
0.6747966588692758 434
0.7475129645822581 435
0.5710305081590752 436
0.7752665384121059 437
0.6543185342450022 438
0.606269331892666 439
0.762396881327328 440
0.6841862857600108 441
0.7213800777932321 442
0.6120396764976 443
0.5711196577792716 444
0.6003698647825961 445
0.6921817898693072 446
0.6169035380850276 447
0.6423042231355908 448
0.673788656254823 449
0.7351071444906605 450
0.7053201402830158 451
0.6901750415372774 452
0.8023099039934294 453
0.5638953783238901 454
0.6830319208252865 455
0.8639166504586334 456
0.6785274294673764 457
0.8083113202883062 458
0.7300240116919794 459
0.6226579589193664 460
0.6955151138739685 461
0.7209484284152778 462
0.8339345195643897 463
0.7687721620840511 464
0.6983465634401899 465
0.7097097175070322 466
0.7951793677056113 467
0.769771449007466 468
0.6181048551986547 469
0.7796094236670872 470
0.522355105124318 471
0.5551825479088097 472
0.7510124540206108 473
0.6846340658706287 474
0.8060535652725191 475
0.80899113888943 476
0.5615375465651636 477
0.5470766634214371 478
0.6301147341125952 479
0.7682124174397478 480
0.723125852803745 481
0.6269192397266747 482
0.7627241510721667 483
0.6795128976974856 484
0.6872640414211353 485
0.7623990577845283 486
0.7722151342999848 487
0.6727406372595108 488
0.6513225549965573 489
0.5487847186104422 490
0.6981587211029305 491
0.6877221995304836 492
0.7634755354309206 493
0.651092096933805 494
0.7652749300658994 495
0.688940159305248 496
0.7991675617833248 497
0.6142060663471645 498
0.7658386719766195 499
0.7855409816220544 500
0.7183389565472575 501
0.7746578878816298 502
0.7374721083449308 503
0.787946684123447 504
0.654788016826908 505
0.64869632808227 506
0.7044100097040105 507
0.7827208528104832 508
0.697799902823764 509
0.6188501007911913 510
0.7548423908715114 511
0.78612399018387 512
0.7354533671446692 513
0.7831721471767554 514
0.6836895498906069 515
0.7498759179489007 516
0.707873318267171 517
0.6999536969999602 518
0.6739640553311348 519
0.8124331476778522 520
0.6161401919840634 521
0.8644995669488347 522
0.6019613320070025 523
0.7640373042839879 524
0.698797603522147 525
0.7190320085863122 526
0.7065561674809937 527
0.667719531954113 528
0.6580897286013084 529
0.6082902913743998 530
0.7403267599553813 531
0.7698976267934428 532
0.6618397627036506 533
0.5633621757571576 534
0.8305822036213237 535
0.7319102194058844 536
0.8260622691759248 537
0.6951728233741372 538
0.6644158913314631 539
0.6750147406246474 540
0.7939541585711385 541
0.83755185941663 542
0.5981058840628439 543
0.7050983586774001 544
0.6684252228371015 545
0.7454601168100738 546
0.7258599900698708 547
0.7147857000743986 548
0.6125359273857567 549
0.650661751794017 550
0.7880861473234825 551
0.7061986107096563 552
0.5731661622047416 553
0.6450377338568296 554
0.6858143768486186 555
0.670599727988942 556
0.7917381295470387 557
0.7639333781871316 558
0.5070229826855793 559
0.7245409153463692 560
0.5261563991514893 561
0.5586081466765629 562
0.6733129193450531 563
0.7440079631142624 564
0.8364800039812238 565
0.4776257679382072 566
0.7330510137822585 567
0.7903741045096303 568
0.6298178737829282 569
0.796715262132722 570
0.7788319327586587 571
0.7905461471735054 572
0.7895389435747324 573
0.532669516535988 574
0.8003708539127405 575
0.8059676246414225 576
0.7322874783118518 577
0.8352762265338914 578
0.8152181109891843 579
0.6816779188709903 580
0.4830360519449809 581
0.6749864521153381 582
0.5389928468786316 583
0.46332102677178244 584
0.6890898113854542 585
0.711431907126761 586
0.5505955768051322 587
0.7712191846648773 588
0.5727432659688941 589
0.7195873234680052 590
0.7704573373081572 591
0.7738734294445073 592
0.6898799537742593 593
0.6522939109376438 594
0.638903375100498 595
0.6281071550657294 596
0.665075323572574 597
0.6240589082376948 598
0.5525000503676889 599
0.7488364149100244 600
0.7808164451635282 601
0.5474810626308807 602
0.5329504933129501 603
0.3809404681635289 604
0.5736755112571186 605
0.6079962069553139 606
0.6901061254662576 607
0.7920656593819517 608
0.7419508977008872 609
0.7624572667274983 610
0.7287982012416903 611
0.6563136249668353 612
0.7350090675303058 613
0.6336346450600723 614
0.5199339768097633 615
0.8046552736689829 616
0.6573472713323744 617
0.7176709764887894 618
0.7113099293929731 619
0.6632136174059992 620
0.7626368527453125 621
0.6471799447400436 622
0.5507664636609673 623
0.6463996146090865 624
0.6956150402494607 625
0.48878796448595196 626
0.8456294806016307 627
0.6828940814514064 628
0.6521131867973331 629
0.7706560823582582 630
0.7480655977654138 631
0.8183787265150821 632
0.8805634139464755 633
0.6986205273334749 634
0.8239486258009767 635
0.782085626606641 636
0.7951746497686721 637
0.7100644454970926 638
0.5981732603958452 639
0.8431001562148388 640
0.802689133292738 641
0.7128383591764034 642
0.7263934987592503 643
0.5674780310394302 644
0.8376687292333265 645
0.7175086235257936 646
0.6285195665494274 647
0.5018664122091366 648
0.7547886942965992 649
0.7070857173738679 650
0.6570560020973056 651
0.7745493085421845 652
0.7169336950032519 653
0.6263361986218707 654
0.5814818654168711 655
0.6795272392910723 656
0.6796760568965043 657
0.7409686186204201 658
0.6389100650218147 659
0.7255079829879754 660
0.6158168134970877 661
0.48080819835854915 662
0.6339702142813972 663
0.6869868684926324 664
0.7648729184100305 665
0.7079027320035041 666
0.8012101687405188 667
0.6126356115644009 668
0.5659284275784658 669
0.7637051049656187 670
0.6050900751535526 671
0.6812864653292592 672
0.7407370225151466 673
0.768806380185591 674
0.7220845828086049 675
0.5115834484704278 676
0.6797520542092699 677
0.6219174817115405 678
0.621259324756755 679
0.660884645835647 680
0.5085480796115194 681
0.5527355486643771 682
0.8146032609755182 683
0.5667019416583676 684
0.7250535055748244 685
0.5554723386092757 686
0.703082528243431 687
0.7694150077572297 688
0.5599206588769035 689
0.4739037867545288 690
0.6399513975496864 691
0.5620448671431235 692
0.6183621205323186 693
0.4917485489406421 694
0.7076968075201522 695
0.7627324912456008 696
0.5596090551441859 697
0.7278091643012667 698
0.5730306355270736 699
0.6301611008460197 700
0.7112911090698363 701
0.831358446544656 702
0.6752234305480087 703
0.5884072710282539 704
0.8063810380227275 705
0.6544198306119456 706
0.6805740642935392 707
0.6052871328145288 708
0.7626369226084604 709
0.7786390139162087 710
0.7391148292914614 711
0.7749075896459108 712
0.7878094793101533 713
0.7678769173937658 714
0.7695332796933959 715
0.6535941546748676 716
0.6468875939930583 717
0.6058537891760214 718
0.7674192661914584 719
0.7249972433827561 720
0.6661451064997979 721
0.756178544938042 722
0.7617237522834586 723
0.6409463797363452 724
0.5828570920972598 725
0.7929449057392826 726
0.7223821303727249 727

0.7507397569588132 728
0.5946394088954896 729
0.7811988855284436 730
0.7636601435969618 731
0.6789333040091301 732
0.7616717448193364 733
0.6090527158217551 734
0.6866609452478782 735
0.6270531051190125 736
0.7459664560307235 737
0.7965966326087569 738
0.6147771924430094 739
0.8007196854363734 740
0.7334813018349571 741
0.8007916377341321 742
0.745839657352158 743
0.7577519116317836 744
0.7625374150140934 745
0.8036958428895444 746
0.7082485300124276 747
0.541931037655278 748
0.6319917236315016 749
0.4406676284778245 750
0.6575058319464437 751
0.7041625225215935 752
0.6972746185194727 753
0.673870724665547 754
0.6596532726291434 755
0.6930076761260888 756
0.6475328396488431 757
0.7609067580158009 758
0.7780491210708168 759
0.7643375030349422 760
0.6656947850794084 761
0.7635402785596187 762
0.7063982102676956 763
0.5805763341460513 764
0.8433780415735782 765
0.7285605343093937 766
0.8216986757257767 767
0.6583744798904779 768
0.6960767902533072 769
0.7155579781329182 770
0.7970981283730394 771
0.5949171872333353 772
0.5969040026656265 773
0.7805263339025031 774
0.6997368358236173 775
0.7334694947214779 776
0.8562626230304271 777
0.6768820294695701 778
0.7118916354571748 779
0.83987040131234 780
0.7040788961837756 781
0.5763372758191617 782
0.6377787305553608 783
0.7897706534405706 784
0.7647923723055772 785
0.7574422903114815 786
0.6771214128118694 787
0.610852046903418 788
0.7486429130500941 789
0.7467540036763959 790
0.726483080890842 791
0.5319389409472242 792
0.5306489423590217 793
0.5913198612742212 794
0.6732055154459005 795
0.6627920018388171 796
0.801015051713933 797
0.7676294662980169 798
0.6329323076934443 799
0.6499019768819183 800
0.7786727092718843 801
0.5774356466732005 802
0.7732171985564164 803
0.5537603292531194 804
0.7035067264911021 805
0.7047864216289943 806
0.7041482166354108 807
0.5790527207772417 808
0.7290006122494805 809
0.7659768648305798 810
0.7836998280764342 811
0.5949064664651297 812
0.7876104537871944 813
0.8027073703877283 814
0.7564509717686592 815
0.8537080731784747 816
0.41427764519553845 817
0.6565289588697572 818
0.7804826459319001 819
0.6289130051703946 820
0.7653578324592522 821
0.8176445035719107 822
0.8373567755769424 823
0.5742636520316929 824
0.5805614689110272 825
0.7801259102221139 826
0.7937804553929726 827
0.7399974603940036 828
0.7361004137105835 829
0.6163631834961082 830
0.6522796070301908 831
0.7644116661262151 832
0.6098700693992656 833
0.8860014502217285 834
0.7924181974388181 835
0.7375669330141345 836
0.6099631483006273 837
0.791566477517265 838
0.8031214241395788 839
0.608367788739222 840
0.7187837280148002 841
0.7027755171107462 842
0.7709364664593382 843
0.7196565669117682 844
0.6839709140206669 845
0.7439357643995305 846
0.6960715898777936 847
0.5311487011694908 848
0.495335878434666 849
0.509822811454369 850
0.7832500712311299 851
0.6667494248650947 852
0.556164341534344 853
0.8097764671574905 854
0.8232868384092612 855
0.7114381928996707 856
0.6678938480021057 857
0.7312012161094178 858
0.7143415913083607 859
0.7267769646008279 860
0.8414961379553848 861
0.5941318322221344 862
0.8174824361590279 863
0.6781376217558279 864
0.6238830434848697 865
0.6980669490998365 866
0.7014650849996964 867
0.8116654281097276 868
0.542076348893683 869
0.6921405240788854 870
0.700680804364477 871
0.7911298266777733 872
0.745527228219441 873
0.6058121082448813 874
0.721401988261045 875
0.7133900337023182 876
0.7073836451292732 877
0.5895400106645465 878
0.6409280727568105 879
0.7139868141429374 880
0.5525448410344596 881
0.7746345038781148 882
0.7485366040252481 883
0.728977436524114 884
0.7219837356068831 885
0.6269006390490655 886
0.765009150864689 887
0.7883378400490952 888
0.5775149116345852 889
0.6780641211668323 890
0.7025085567887581 891
0.7757357814885045 892
0.8639794906249438 893
0.7341976321109804 894
0.7096352905235136 895
0.7781592476434255 896
0.49618625633967084 897
0.6282426457242821 898
0.773091580725703 899
0.7939130200986633 900
0.7931377558989487 901
0.7654212683849366 902
0.603053805232088 903
0.7347671320791422 904
0.731912057529633 905
0.6810752340729875 906
0.80715470466219 907
0.743558849964749 908
0.7498701266424266 909
0.7099480134798799 910
0.8022313851410035 911
0.7267947449123047 912
0.7019458845342869 913
0.7092449553576281 914
0.6769408508660313 915
0.7103170254792207 916
0.7862494730779781 917
0.6438968711899108 918
0.6399389946376643 919
0.6805353034556252 920
0.6337116426244773 921
0.682774352499361 922
0.5292464099957699 923
0.6323747418601035 924
0.6594198316991295 925
0.8405023537083147 926
0.6960445920792167 927
0.4867373025218762 928
0.5423725202326533 929
0.8026909664566955 930
0.6550166419276804 931
0.6503434439638878 932
0.7357649848135203 933
0.5799846083401292 934
0.5740755393947969 935
0.7523792312599256 936
0.5423648639972192 937
0.7809417935188034 938
0.7243873316465248 939
0.633436296267057 940
0.6423625016276162 941
0.8188838622252516 942
0.6597718448001966 943
0.7413957733843872 944
0.5689372949993783 945
0.5303740637588399 946
0.5479954623444319 947
0.7010120704799376 948
0.8106769023102272 949
0.5175513120145834 950
0.7472666336751903 951
0.7317818163590364 952
0.8112992762013435 953
0.5934987724172593 954
0.7265546563599588 955
0.658925232649193 956
0.7743341868377931 957
0.7557443296687397 958
0.68669004204099 959
0.7035749824042283 960
0.6935955255511341 961
0.6436787315004086 962
0.6972134007633913 963
0.5224554755233894 964
0.8467915810016629 965
0.557009523656739 966
0.6238710524645847 967
0.8117014454895 968
0.5900722387854276 969
0.7567295261593429 970
0.6028573137898826 971
0.6026409664330676 972
0.6892836858933429 973
0.8155911958007815 974
0.6596032427312988 975
0.6281027150569661 976
0.6918581512306199 977
0.4804788774212899 978
0.7045687775640954 979
0.5671266527987862 980
0.6785113800402212 981
0.8018307396208724 982
0.5903374508555062 983
0.7481521350185711 984
0.6370997310860583 985
0.572714398434794 986
0.5580007377377882 987
0.7888069783337204 988
0.7668095907032655 989
0.6913481391245704 990
0.6777850611948704 991
0.6226983451396987 992
0.5924100870563576 993
0.6823001539462128 994
0.5435536525764834 995
0.7595065478533969 996
0.596975301880738 997
0.6981538279589958 998
0.6809074869417253 999

In [48]:
scores = []
for i in range(1000):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = i)
    lr = LinearRegression()
    pipe = make_pipeline(column_trans, lr)
    pipe.fit(X_train, y_train)
    y_pred = pipe.predict(X_test)
    scores.append(r2_score(y_test, y_pred))

In [50]:
np.argmax(scores)

661

In [51]:
scores[np.argmax(scores)]

0.8897762920578806

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = np.argmax(scores))
lr = LinearRegression()
pipe = make_pipeline(column_trans, lr)
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)
(r2_score(y_test, y_pred))

0.8897762920578806

In [53]:
ipe.predict(pd.DataFrame(columns=['name','company','year','kms_driven','fuel_type'],data=np.array(['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']).reshape(1,5)))

NameError: name 'ipe' is not defined